{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head_style %}
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock head_style %}

{% block head_script %}
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock head_script %}

{% block body %}
    {% block navbar %}
        {% if app.user and app.request.attributes.get('_route') != 'fos_user_registration_confirmed' %}
            {% embed 'navbar.html.twig' with { inverse: false, id: 'navbar' } %}
                {% block menu %}
                    {{ mopa_bootstrap_menu('BugTrackBundle:Builder:MainMenu', {'automenu': 'navbar'}) }}
                    <div class="navbar-right">
                        {{ mopa_bootstrap_menu('BugTrackBundle:Builder:ProfileMenu', {'automenu': 'navbar'}) }}
                    </div>
                {% endblock %}
            {% endembed %}
        {% endif %}
    {% endblock navbar %}

    {% block container %}
        <div class="container">
            <div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    {% endblock %}
{% endblock body %}

