{% extends "layout.html.twig" %}

{% block head_style %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Home page
{% endblock %}

{% block content %}
    <div class="form-group">
        <label class="col-sm-3">My Opened Issues</label>
        <div class="col-sm-9">
            {{ table.issuesTable(issues) }}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3">My Activities</label>
        <div class="col-sm-9">
            {{ table.projectActivitiesTable(get_activities(app.user)) }}
        </div>
    </div>

{% endblock %}
