{% extends "layout.html.twig" %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <div class="form-register">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock content %}
